.click {
  fill: #AAA !important;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
svg polygon {
  fill: #ccc;
  stroke: rgb(0, 0, 0);
}
svg:hover polygon {
  fill: #ddd !important;
}
svg:active polygon {
  fill: #AAA !important;
}
