
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.phoneIcon {
  fill: #338833;
}
.disabled .phoneIcon {
  fill: #aaa;
}

svg circle {
  cursor: pointer;
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}
svg:hover circle {
  fill: #ddd !important;
}
svg:active circle {
  fill: #AAA !important;
}
