<div class="app-frame">
  <div class="displayFrame">
    <div class="warnMessage" *ngIf="showWarnMessage">無効な電話番号です</div>
    <app-display></app-display>
  </div>
  <div class="num-pad">
    <num-button [value]="'1'"></num-button>
    <num-button [value]="'2'"></num-button>
    <num-button [value]="'3'"></num-button>
    <num-button [value]="'4'"></num-button>
    <num-button [value]="'5'"></num-button>
    <num-button [value]="'6'"></num-button>
    <num-button [value]="'7'"></num-button>
    <num-button [value]="'8'"></num-button>
    <num-button [value]="'9'"></num-button>
    <num-button [value]="'*'"></num-button>
    <num-button [value]="'0'"></num-button>
    <num-button [value]="'#'"></num-button>
  </div>
  <div class="action-buttons">
    <call-button [enabled]="enableCallButton"></call-button>
    <back-button></back-button>
  </div>
</div>
