<div class="app-frame">
  <app-display></app-display>
  <div class="num-pad">
    <num-button [value]="'1'"></num-button>
    <num-button [value]="'2'"></num-button>
    <num-button [value]="'3'"></num-button>
    <num-button [value]="'4'"></num-button>
    <num-button [value]="'5'"></num-button>
    <num-button [value]="'6'"></num-button>
    <num-button [value]="'7'"></num-button>
    <num-button [value]="'8'"></num-button>
    <num-button [value]="'9'"></num-button>
    <num-button [value]="'*'"></num-button>
    <num-button [value]="'0'"></num-button>
    <num-button [value]="'#'"></num-button>
  </div>
  <div class="action-buttons">
    <call-button></call-button>
    <back-button></back-button>
  </div>
</div>
