button {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  background: #ccc;
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

button:hover {
  background: #ddd;
}
button:active {
  background: #AAA;
}
.click {
  background: #AAA;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
