button {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  background: #ccc;
  border-radius: 50%;
  padding: 0.5em;
}

button:hover {
  background: #ddd;
}
button:active {
  background: #AAA;
}
.click {
  background: #AAA;
}
