name: TelApp CI/CD
on:
  workflow_call:
    outputs:
      build_result:
        description: "ビルドしたファイルをアップロードしたartifact id"
        value: ${{ jobs.test-and-build.outputs.build_result }}

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    outputs:
      build_result: ${{ steps.checkout.outputs.COMMIT_ID }}-build

    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v3

      - name: コミットIDを取得
        id: checkout
        run: |
          commit_id=$(git log -n 1 --format=%H)
          echo "::set-output name=COMMIT_ID::${commit_id}"

      - name: Node.js環境をセットアップ
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: 関係モジュールをインストール
        run: npm ci

      - name: テストを実行
        run: npm run test:prod

      - name: アプリケーションをビルド
        run: |
          npm run test:prod
          tree public

      - name: ビルド結果をアーティファクトにアップロード
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.checkout.outputs.COMMIT_ID }}-build
          path: ./public/
