name: TelApp CI/CD
on:
  workflow_dispatch:
  workflow_call:
    outputs:
      build_result:
        description: "ビルドしたファイルをアップロードしたartifact id"
        value: ${{ jobs.test-and-build.outputs.build_result }}

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    outputs:
      BUILD_ID: ${{ steps.build.outputs.BUILD_ID }}

    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v3

      - name: コミットIDを取得
        id: checkout
        run: |
          commit_id=$(git log -n 1 --format=%H)
          echo "::set-output name=COMMIT_ID::${commit_id}"

      # - name: Node.js環境をセットアップ
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: 16
      #     cache: npm
      #
      # - name: 関係モジュールをインストール
      #   run: npm ci

      # - name: テストを実行
      #   run: npm run test:prod

      - name: アプリケーションをビルド
        id: build
        shell: bash
        run: |
          BUILD_ID="${{ steps.checkout.outputs.COMMIT_ID }}-build"
          PROJ_NAME=$(jq -r ".defaultProject" angular.json)
          OUT_DIR=$(jq -r ".projects.\"${PROJ_NAME}\".architect.build.options.outputPath")

          echo "OUT_DIR / ${OUT_DIR}"
          echo "BUILD_ID / ${BUILD_ID}"

          echo "::set-output name=OUT_DIR::${OUT_DIR}"
          echo "::set-output name=BUILD_ID::${BUILD_ID}"

      # - name: ビルド結果をアーティファクトにアップロード
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: ${{ steps.build.outputs.BUILD_ID }}
      #     path: ${{ steps.build.outputs.OUT_DIR }}
