name: test trigger
on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: |
        ls -la
        tree

      - uses: ./.github/workflows/auto-build.yml
        id: auto-build

      - run: echo "${{ steps.auto-build.outputs.build_result }}"
